.swipeGallary{
    margin-top: 70px;
    background-color: #cacbd3;
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameDescriptionSection{
    background-color: var(--contrast2);
    color: var(--background1);
    
    width: calc(100% - 80px);
    min-height: 350px;
    
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 70px;
    padding-bottom: 70px;
}
    .gameDescriptionSection p{
        max-width: 800px;
    }

.downloadSection{
    background-color: var(--background1);
    
    width: calc(100% - 80px);
    
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 70px;
    padding-bottom: 70px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    column-gap: 40px;
    row-gap: 40px;
}
    .downloadButtonContainer{
        display: flex;
        flex-direction: column-reverse;
    }
    .downloadSection p{
        max-width: 800px;
    }
